<launch>

  <param name="robot_description"
    command="$(find xacro)/xacro $(find tobe_description)/tobe.xacro" /> 

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find tobe_description)/tobe.urdf -urdf -model tobe -z 0.3845" />

  <include file="$(find tobe_control)/launch/tobe_control.launch"/>

  <node name="tobe_walker" pkg="tobe_gazebo" type="tobe_walker.py" output="screen"/>

</launch>
