<?xml version="1.0"?>

<model>
  <name>tobe</name>
  <version>1.0</version>
  <sdf version="1.5">tobe.urdf</sdf>

  <author>
    <name>Jerry Sweafford</name>
    <email>jsweaffordjr@gmail.com</email>
  </author>

  <description>
    An 18-DOF humanoid robot modified from Robotis's BIOLOID Premium Kit.
  </description>
</model>
